@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: calc(40% - 10px); 
    background: hsl(0, 0%, 12%);
    text-align: center; 
    border-radius: 6px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    margin: 10px 0; /* Add margin for spacing */
    white-space: nowrap; /* Prevent line break */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis to indicate overflow */
}

.subtitle {
    font-family: "Inter", sans-serif;
    font-size: 20px; /* Adjust as needed */
    color: hsl(75, 94%, 57%);
    margin: 10px 0; /* Add margin for spacing */
}

p {
    font-family: "Inter", sans-serif;
    font-size: 16px; /* Adjust as needed */
    color: hsl(0, 0%, 100%);
    margin: 10px 0; /* Add margin for spacing */
}

.profile-image {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 20px;
    object-fit: cover; /* Ensure the image covers the entire area */
}
.card-2{
    display:inline-block;
	background:hsl(0, 0%, 20%);
	font-size:20px;
	padding: 12px 36px;
	margin-top:30px;
	border-radius:20px;
}
.card-3{
    display:inline-block;
	background:hsl(0, 0%, 20%);
	font-size:20px;
	padding: 12px 36px;
	margin-top:30px;
	border-radius:20px;
}
.card-4{
    display:inline-block;
	background:hsl(0, 0%, 20%);
	font-size:20px;
	padding: 12px 36px;
	margin-top:30px;
	border-radius:20px;
}
.card-5{
    display:inline-block;
	background:hsl(0, 0%, 20%);
	font-size:20px;
	padding: 12px 36px;
	margin-top:30px;
	border-radius:20px;
}
.card-6{
    display:inline-block;
	background:hsl(0, 0%, 20%);
	font-size:20px;
	padding: 12px 36px;
	margin-top:30px;
	border-radius:20px;
}
